[include]
	path = ~/.gitconfig.private
[init]
	templatedir = ~/.git-templates
[core]
	excludesfile = ~/.gitignore.global
	quotepath = false
[help]
	autoCorrect = -1
# Reuse recorded resolution
[rerere]
	enabled = true
	autoUpdate = true
[credential]
	helper = cache
[alias]
	clone    = clone --recursive
	fetchall = fetch --all
	pullall  = pull --all

	subpull  = submodule foreach git pull
	unstage  = reset HEAD
	uncommit = reset --soft HEAD^
	undopush = push -f origin HEAD^:master
	recommit = commit --amend
	ignore   = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored  = !git ls-files -v | grep '^[[:lower:]]'

	tags     = tag -l
	remotes  = remote -v
	branches = !git for-each-ref \
		--sort=-committerdate \
		--format=\"%(color:blue)%(authordate:relative)\t \
			   %(color:red)%(authorname)\t \
			   %(color:black)%(color:bold)%(refname:short)\" \
		refs/remotes \
		| column -t -s \"\t\"

	edit = !bash -c '${EDITOR} $(git ls-files --modified --other --exclude-standard)'

	# History
	wc     = whatchanged -p --abbrev-commit --pretty=medium
	l      = log --decorate --oneline
	lg     = log --decorate --oneline --graph
	ll     = log --decorate
	lll    = log --decorate --stat
	fup    = !git --no-pager lll --since '1 day ago' --author $(git config user.email)
	head   = !git --no-pager lll -1
	recent = !git lll -30
[pager]
	color = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[color "diff"]
	meta = bold yellow
[branch]
	# Automatic remote tracking
	autoSetupMerge = always
	# Force all new branches to automatically use rebase
	autoSetupRebase = always
[submodule]
	fetchJobs = 4
[fetch]
	recurseSubmodules = true
	prune = true
[push]
	default = simple
[pull]
	rebase = true
[commit]
	gpgsign = true
[rebase]
	# Support fixup and squash commits
	autoSquash = true
	# Stash dirty worktree
	autoStash = true
[diff]
	compactionHeuristic = true
	submodule = log
	tool = ediff
[difftool]
	prompt = false
[difftool "ediff"]
	cmd = ediff \"$LOCAL\" \"$REMOTE\"
[merge]
	ff = only
	log = true
	tool = ediff
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "ediff"]
	cmd = emacsclient --eval \"\
		(ediff-merge-files-with-ancestor\
		\\\"$LOCAL\\\" \\\"$REMOTE\\\"\
		\\\"$BASE\\\" nil \\\"$MERGED\\\")\"
[mergetool "meld"]
	trustExitCode = false
[ghq]
	root = ~/src
	root = ~/go/src
[ghq "import"]
	starred = github-list-starred
	user = getgithubrepos
[http "https://gopkg.in"]
	followRedirects = true
