[user]
	name = Terje Larsen
	email = terlar@gmail.com
	signingkey = 89AF679B037E1D2A
[core]
	excludesfile = ~/.gitignore.global
[alias]
	cloneall = clone --recurse-submodules -j 4
	fetchall = fetch --all -j 4
	pullall = pull --all -j 4

	subpull  = submodule foreach git pull
	unstage  = reset HEAD
	uncommit = reset --soft HEAD^
	recommit = commit --amend

	wc  = whatchanged -p --abbrev-commit --pretty=medium

	edit = !bash -c '${EDITOR} $(git ls-files --modified --other --exclude-standard)'

	# Branch
	bactive = for-each-ref --sort=-committerdate --format=\"%(refname:short)\"

	# History
	l      = log --decorate --oneline
	lg     = log --decorate --oneline --graph
	ll     = log --decorate
	lll    = log --decorate --stat
	fup    = !git --no-pager lll --since '1 day ago' --author terlar@gmail.com
	head   = !git --no-pager lll -1
	recent = !git lll -30
[pager]
	color = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[color "diff"]
	meta = white
[diff]
	tool = vimdiff
	submodule = log
[difftool]
	prompt = false
[merge]
	defaultToUpstream = true
	tool = vimdiff
	conflictstyle = diff3
[rebase]
	# Support fixup and squash commits
	autosquash = true
[mergetool]
	keepBackup = false
	prompt = false
[branch]
	# Force all new branches to automatically use rebase
	autosetuprebase = always
	# Automatic remote tracking
	autosetupmerge = always
[push]
	default = simple
[advice]
	detachedHead = false
[help]
	autoCorrect = -1
[rerere]
	# Reuse recorded resolution
	enabled = true
[ghq]
	root = ~/src
	root = ~/go/src
[ghq "import"]
	starred = github-list-starred
	user = getgithubrepos
[github]
	user = terlar
[url "git://github.com/"]
	# Read-only
	insteadOf = gh:
[url "git@github.com:"]
	# With write access
	insteadOf = wgh:
[credential]
	helper = cache
