[user]
	name = Terje Larsen
	email = terlar@gmail.com
	signingkey = 89AF679B037E1D2A
[core]
	excludesfile = ~/.gitignore.global
[alias]
	subpull  = submodule foreach git pull
	unstage  = reset HEAD
	uncommit = reset --soft HEAD^
	recommit = commit --amend

	cp  = cherry-pick
	st  = status -sb
	ci  = commit -v
	cim = commit -v -m
	co  = checkout
	fa  = fetch --all

	di  = diff
	dt  = difftool
	dc  = diff --cached
	dw  = diff --color-words
	ds  = diff --stat
	wc  = whatchanged -p --abbrev-commit --pretty=medium

	# Stash
	sshow = "!f() { git stash show stash^{/$*} -p; }; f"
	sapply = "!f() { git stash apply stash^{/$*}; }; f"

	# Branch
	bactive = for-each-ref --sort=-committerdate --format=\"%(refname:short)\"

	# History
	l      = log --graph --decorate --pretty=format:\"%C(yellow)%h%C(reset)%C(auto)%d%C(reset) %s %C(yellow)(%C(cyan)%ar%C(yellow), %C(blue)%an%C(yellow))%C(reset)\"
	ll     = log --graph --decorate --stat --pretty=format:\"%C(yellow)%h%C(reset)%C(auto)%d%C(reset) %s%n %C(cyan)%ar%C(reset), %C(blue)%an%C(reset)%n\"
	fup    = log --since '1 day ago' --oneline --author terlar@gmail.com
	head   = !git --no-pager ll -1
	h      = !git head
	recent = !git ll -30
	r      = !git recent
[pager]
	color = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[color "diff"]
	meta = white
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	defaultToUpstream = true
	tool = vimdiff
	conflictstyle = diff3
[rebase]
	# Support fixup and squash commits
	autosquash = true
[mergetool]
	keepBackup = false
	prompt = false
[branch]
	# Force all new branches to automatically use rebase
	autosetuprebase = always
	# Automatic remote tracking
	autosetupmerge = always
[push]
	default = simple
[advice]
	detachedHead = false
[help]
	autoCorrect = -1
[rerere]
	# Reuse recorded resolution
	enabled = true
[ghq]
	root = ~/src
	root = ~/go/src
[ghq "import"]
	starred = github-list-starred
	user = getgithubrepos
[github]
	user = terlar
[url "git://github.com/"]
	# Read-only
	insteadOf = gh:
[url "git@github.com:"]
	# With write access
	insteadOf = wgh:
