[submodule "zsh/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/zsh/plugins/zsh-syntax-highlighting
	url = gh:zsh-users/zsh-syntax-highlighting
[submodule "vim"]
	path = vim
	url = git://github.com/terlar/vimfiles.git
