body, .gdarticle {
	font-family: serif, "Noto Serif", "Source Han Sans CN";
	font-size: 16pt;
}

.gddictname {
	font-family: sans-serif, "Source Sans Pro", "Source Han Sans CN";
}

.gdnotfound b {
	font-size: 1.3em;
	font-weight: normal;
}

.gdarticle .sdct_h, .gdarticle .sdct_m, .gdarticle .gdarticlebody > div {
	background: #fafafa;
	padding: .5em;
	border: 1px solid #ddd;
	line-height: 2em;
}
.gdarticle .gdarticlebody .website_padding {
	background: none;
	border: none;
	padding: 0;
}

.gdarticle h3 {
	font-family: sans-serif, "Source Pro Sans", "Source Han Sans CN";
	margin: .5em 0 0 0;
	font-size: 2em;
	font-weight: normal;
}

.gdarticle big {
	font-size: 1.3em;
}
.gdarticle b {
	cursor: pointer;
	font-weight: normal;
	border-bottom: 1px dashed #aaa;
}

.gdarticle .gdarticlebody div > hr {
	display: none;
}
.gdarticle .gdarticlebody div p + hr {
	display: block;
}

.gdarticle .programs_html header,
.gdarticle .programs_html footer,
.gdarticle .programs_html h2,
.gdarticle .programs_html #form_container,
.gdarticle .programs_html #browse_header,
.gdarticle .programs_html #dictionary_list,
.gdarticle .programs_html #search_results li.promo,
.gdarticle .programs_html #search_results li .tools {
	display: none;
}

.gdarticle .programs_html #search_results li:first-child {
	padding-top: 0;
	border-top: none;
}
