[Unit]
Description=Asgard

[Service]
ExecStart=/bin/java -Xmx1024M -XX:MaxPermSize=128m -jar /opt/asgard/asgard-standalone.jar

[Install]
WantedBy=default.target
