[Unit]
Description=Dropbox service

After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/dropboxd
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
