[Unit]
Description=Dropbox sync daemon
After=network.target
Requires=network.target

[Service]
ExecStart=/home/terje/.dropbox-dist/dropbox
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
