[Unit]
Description=Flexible Input Method Framework on display %i
Documentation=man:fcitx(1)

Requisite=xserver@%i.target
After=xserver@%i.target

After=xorg@%i.service

[Service]
Environment=DISPLAY=:%i
Environment=GTK_IM_MODULE=fcitx
Environment=QT_IM_MODULE=fcitx
Environment=XMODIFIERS=@im=fcitx
Environment=XIM=fcitx
Environment=XIM_PROGRAM=fcitx
ExecStart=/usr/bin/fcitx -D

[Install]
WantedBy=graphical.target
