[Unit]
Description=GnuPG Private Key Agent
Documentation=man:gpg-agent(1)

[Service]
Type=forking
ExecStart=/usr/bin/gpg-agent --daemon --use-standard-socket

[Install]
WantedBy=default.target
