[Unit]
Description=i3lock service (display %i)
Documentation=man:i3lock(1)

Before=xbase@%i.target
After=x@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/i3lock -c 000000 -i "$CURRENT_WALLPAPER"
RemainAfterExit=yes

WorkingDirectory=%h/Pictures
EnvironmentFile=%h/.config/i3lockbg.conf
Environment=DISPLAY=:%i

[Install]
WantedBy=xbase@%i.target
