[Unit]
Description=Mopidy
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/mopidy
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
