[Unit]
Description=Network wait online

Wants=network.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c "while ! ping -c1 -W1 8.8.8.8 >&/dev/null; do sleep 1; done"
TimeoutStartSec=30

[Install]
WantedBy=default.target
