[Unit]
Description=OfflineIMAP IMAP/Maildir Synchronization
Documentation=man:offlineimap

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap -o -u quiet

[Install]
WantedBy=default.target
