[Unit]
Description=Set Root Window Pointer on display %i

Requisite=xserver@%i.target
After=xserver@%i.target

After=xorg@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes

Environment=DISPLAY=:%i
ExecStart=/usr/bin/xsetroot -cursor_name left_ptr

[Install]
WantedBy=graphical.target
