[Unit]
Description=Prax

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/prax/bin/prax start
ExecStop=/opt/prax/bin/prax stop
WorkingDirectory=/opt/prax

[Install]
WantedBy=default.target
