[Unit]
Description=PulseAudio Sound System service
Documentation=man:pulseaudio(1)

Before=default.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/pulseaudio --start
ExecStop=/usr/bin/pulseaudio --kill

[Install]
WantedBy=default.target
