[Unit]
Description=PulseAudio Sound System
Documentation=man:pulseaudio(1)

Before=sound.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/pulseaudio --exit-idle-time=999999
ExecStop=/usr/bin/pulseaudio --kill

Restart=always
RestartPreventExitStatus=SIGTERM SIGINT SIGABRT SIGKILL
StartLimitInterval=10s
StartLimitBurst=5

[Install]
WantedBy=default.target
