[Unit]
Description=Color temperature adjustment on display %i

Requisite=xserver@%i.target
After=xserver@%i.target

After=xorg@%i.service

[Service]
Environment=DISPLAY=:%i
ExecStart=/usr/bin/redshift -m randr -l 57.7000:11.9667 &
TimeoutStopSec=5

[Install]
WantedBy=graphical.target
