[Unit]
Description=Skype on display %i

[Service]
ExecStart=/usr/bin/docker run --rm \
	--privileged \
	--env=USER_UID=%U \
	--env=DISPLAY=unix:%i \
	--volume=/tmp/.X11-unix:/tmp/.X11-unix:ro \
	--volume=/run/user/%U/pulse:/run/pulse:ro \
	--volume=/dev/video0:/dev/video0:rw
	--name skype \
	skype
ExecStop=/usr/bin/docker stop skype

[Install]
WantedBy=default.target
