[Unit]
Description=Spotify on display %i

[Service]
ExecStart=/usr/bin/docker run --rm \
	--env=USER_UID=%U \
	--env=DISPLAY=unix:%i \
	--volume=/tmp/.X11-unix:/tmp/.X11-unix:ro \
	--volume=/run/user/%U/pulse:/run/pulse:ro \
	--volume=%h/.docker-volumes/spotifyconfig:/data/config \
	--name spotify \
	spotify
ExecStop=/usr/bin/docker stop spotify

[Install]
WantedBy=default.target
