[Unit]
Description=Terminal Multiplexer Server
Documentation=man:tmux(1)

[Service]
ExecStart=/usr/bin/tmux start-server \x3B wait-for systemd
ExecStop=/usr/bin/tmux wait-for -S systemd \x3B kill-server

[Install]
WantedBy=default.target
