[Unit]
Description=Tmux

[Service]
RemainAfterExit=yes
Restart=on-success
ExecStart=/usr/bin/tmux new-session -d -s default
ExecStop=/usr/bin/tmux kill-server

[Install]
WantedBy=default.target
