[Unit]
Description=Tmux service

[Service]
ExecStart=/usr/bin/tmux new-session -d -s default
ExecStop=/usr/bin/tmux kill-server
RemainAfterExit=yes
Restart=on-success

[Install]
WantedBy=default.target
