[Unit]
Description=Wallpaper
After=xorg.target
Requires=xorg.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/feh $BG_TYPE $CURRENT_WALLPAPER
WorkingDirectory=%h/Pictures
EnvironmentFile=%h/.config/fehbg.conf

[Install]
WantedBy=xinitrc.target
