[Unit]
Description=Wallpaper on display %i
Documentation=man:feh(1)

Requisite=xserver@%i.target
After=xserver@%i.target

After=xorg@%i.service

[Service]
Type=oneshot

Environment=DISPLAY=:%i
ExecStart=/usr/bin/bash %h/.fehbg
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
