[Unit]
Description=Wallpaper
After=xorg.target
Requires=xorg.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/nitrogen --restore

[Install]
WantedBy=xinitrc.target
