[Unit]
Description=Wallpaper on display %i
Documentation=man:feh(1)

Requisite=xserver@%i.target
After=xserver@%i.target

After=xorg@%i.service

[Service]
Type=oneshot

Environment=DISPLAY=:%i
EnvironmentFile=%h/.config/fehbg.conf
WorkingDirectory=%h/Pictures
ExecStart=/usr/bin/feh $BG_TYPE $CURRENT_WALLPAPER
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
