[Unit]
Description=X Server with essential environment and settings (display %i)

StopWhenUnneeded=true

After=xorg@%i.service

Requires=xorg@%i.service
