[Unit]
Description=X Composite Manager on display %i
Documentation=man:xcompmgr(1)

Requisite=xserver@%i.target
After=xserver@%i.target

After=xorg@%i.service

[Service]
Environment=DISPLAY=:%i
ExecStart=/usr/bin/xcompmgr

[Install]
WantedBy=graphical.target
