[Unit]
Description=X Keymaps on display %i
Documentation=man:xmodmap(1)

Requisite=xserver@%i.target
After=xserver@%i.target

After=xorg@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes

Environment=DISPLAY=:%i
ExecStart=/usr/bin/xmodmap %h/.Xmodmap

[Install]
WantedBy=graphical.target
