[Unit]
Description=XMonad Window Manager on display %i
Documentation=man:xmonad(1)

Requisite=xserver@%i.target
After=xserver@%i.target

After=xorg@%i.service

Before=wm.target

[Service]
Slice=wm.slice

Environment=DISPLAY=:%i
ExecStart=/usr/bin/xmonad
Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
