[Unit]
Description=Xmonad
Before=xinitrc.target
After=xorg.target
Requires=xorg.target

[Service]
ExecStart=/usr/bin/xmonad
Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
