[Unit]
Description=Xorg Server on display %i
Documentation=man:Xorg(1)

Requires=xorg@%i.socket
After=xorg@%i.socket

Requires=xserver@%i.target
Before=xserver@%i.target

PartOf=graphical.target
Before=graphical.target

[Service]
Slice=wm.slice

Type=simple
ExecStart=/usr/bin/Xorg :%i -dpi 114 -nolisten tcp -noreset -verbose 2 "vt${XDG_VTNR}"
SuccessExitStatus=0 1
