[Unit]
Description=Xorg Server on display %i
Documentation=man:Xorg(1)

Requires=xorg@%i.socket
After=xorg@%i.socket

Requires=xserver@%i.target
Before=xserver@%i.target

PartOf=graphical.target
Before=graphical.target

[Service]
Slice=wm.slice

ExecStart=/usr/bin/Xorg :%i -nolisten tcp -noreset -verbose 2 "vt${XDG_VTNR}"
ExecStartPost=/usr/bin/systemctl --user restart pulseaudio
SuccessExitStatus=0 1
