[Unit]
Description=xrdb
Requires=xorg.target
After=xorg.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb %h/.Xresources

[Install]
WantedBy=xinitrc.target
