[Unit]
Description=X resources database (xrdb) service (display %i)

Before=xbase@%i.target
After=xorg@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -merge %h/.Xresources
Environment=DISPLAY=:%i

[Install]
WantedBy=xbase@%i.target
