[Unit]
Description=X resources
After=xorg.target
Requires=xorg.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb %h/.Xresources

[Install]
WantedBy=xinitrc.target
