root = true

[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Bash
[{*.bash*}]
indent_style = tab

# Elm
[**/*.elm]
indent_style = spaces
indent_size = 4

# Emacs Lisp
[**/*.el]
indent_style = spaces

# Erlang
[**/*.erl]
indent_style = spaces
indent_size = 4

# Fish
[**/*.fish]
indent_style = spaces
indent_size = 4

# Haskell
[**/*.{hs,cabal}]
indent_style = spaces
indent_size = 4

# Java
[**/*.java]
indent_style = spaces
indent_size = 4

# JavaScript
[**/*.{js,json}]
indent_style = spaces
indent_size = 2

# PKGBUILD
[**/PKGBUILD]
indent_style = spaces
indent_size = 2

# Python
[**/*.py]
indent_style = spaces
indent_size = 4

# Saltstack files
[**/*.sls]
indent_style = spaces
indent_size = 2

# Slim template
[**/*.slim]
indent_style = spaces
indent_size = 2

# YAML files
[{**/*.yml,**/group_vars/*}]
indent_style = spaces
indent_size = 2
