root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Bash
[*.bash*]
indent_style = tab

# Common Lisp
[*.lisp]
indent_style = space

# Elm
[*.elm]
indent_style = space
indent_size = 4

# Emacs Lisp
[*.{el,rcp}]
indent_style = space

# Erlang
[rebar.config]
indent_style = space
indent_size = 2
[*.erl]
indent_style = space
indent_size = 4

# Fish
[*.fish]
indent_style = space
indent_size = 4

# Haskell
[*.{hs,cabal}]
indent_style = space
indent_size = 4

# Java
[*.{java,groovy}]
indent_style = space
indent_size = 4

# JavaScript
[*.{js,json}]
indent_style = space
indent_size = 2

# Kotlin
[*.{kt,kts}]
indent_style = space
indent_size = 4

# Makefile
[{Makefile,*.mk}]
indent_style = tab

# Nginx
[nginx.conf]
indent_style = space
indent_size = 2

# NixOS
[*.nix]
indent_style = space
indent_size = 2

# PKGBUILD
[PKGBUILD]
indent_style = space
indent_size = 2

# Python
[*.py]
indent_style = space
indent_size = 4

# Ruby
[*.rb]
indent_style = space
indent_size = 2

# Rust
[*.rs]
indent_style = space
indent_size = 4

# Saltstack
[*.sls]
indent_style = space
indent_size = 2

# Scala
[*.{scala,sbt}]
indent_style = space
indent_size = 2

# Slim template
[*.slim]
indent_style = space
indent_size = 2

# SQL
[*.sql]
indent_style = space
indent_size = 2

# TOML
[*.toml]
indent_style = space
indent_size = 2

# YAML
[*.{yaml,yml}]
indent_style = space
indent_size = 2
