root = true

[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Emacs Lisp
[**/*.el]
indent_style = spaces
indent_size = 2

# Fish
[**/*.fish]
indent_style = spaces
indent_size = 4

# Haskell
[**/*.hs]
indent_style = spaces
indent_size = 4

# JavaScript
[**/*.{js,json}]
indent_style = spaces
indent_size = 2

# PKGBUILD
[**/PKGBUILD]
indent_style = spaces
indent_size = 2

# Python
[**/*.py]
indent_style = spaces
indent_size = 4

# YAML files
[**/*.yml]
indent_style = spaces
indent_size = 2
