[Unit]
Description=Set Autorepeat Rate
Documentation=man:xset(1)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xset r rate 200 60
ExecStop=/usr/bin/xset r rate

[Install]
WantedBy=graphical.target
