[Unit]
Description=Break Service

[Service]
Type=simple
ExecStart=/usr/bin/notify-send -u critical -i appointment-soon 'Break' 'Time for a break!'

[Install]
WantedBy=graphical.target
