[Unit]
Description=Color temperature adjustment
Documentation=man:redshift(1)

[Service]
ExecStart=/usr/bin/redshift -m randr -l 57.7000:11.9667

[Install]
WantedBy=graphical.target
