[Unit]
Description=Terminal Multiplexer Server
Documentation=man:tmux(1)

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -d -s %u
ExecStop=/usr/bin/tmux kill-server
KillMode=control-group
Restart=always

[Install]
WantedBy=default.target
