[Unit]
Description=Randomize Wallpaper
Documentation=man:feh(1)

[Service]
ExecStart=/usr/bin/feh --randomize --bg-tile %h/pictures/backgrounds

[Install]
WantedBy=graphical.target
