[Unit]
Description=OfflineIMAP IMAP/Maildir Synchronization
Documentation=man:offlineimap

[Service]
Type=oneshot
ExecStart=/usr/bin/offlineimap -o -u syslog
TimeoutStopSec=3

[Install]
WantedBy=default.target
