[Unit]
Description=OfflineIMAP Synchronization Timer

[Timer]
OnBootSec=5min
OnUnitInactiveSec=15min
Unit=offlineimap.service

[Install]
WantedBy=timers.target
