[Unit]
Description=Vdirsyncer Synchronization Timer

[Timer]
OnBootSec=5min
OnUnitInactiveSec=15min
Unit=vdirsyncer.service

[Install]
WantedBy=timers.target
