[Unit]
Description=Vdirsyncer Contact/Calendar Synchronization
Documentation=man:vdirsyncer

[Service]
EnvironmentFile=%h/.local/share/vdirsyncer/env
Type=oneshot
ExecStart=/usr/bin/vdirsyncer sync
# Update khal caching DB
ExecStopPost=/usr/bin/sh -c 'khal 2&1>/dev/null'

[Install]
WantedBy=default.target
