[Unit]
Description=Vdirsyncer Contact/Calendar Synchronization
Documentation=man:vdirsyncer

[Service]
Type=oneshot
ExecStart=/usr/bin/vdirsyncer sync --max-workers=1
# Update khal caching DB
ExecStopPost=/usr/bin/sh -c 'khal >/dev/null'

[Install]
WantedBy=default.target
