[Unit]
Description=Emacs Daemon
Documentation=man:emacs(1)

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient -c --eval "(kill-emacs)"
Restart=always

[Install]
WantedBy=default.target
